@import "~@/styles/vars.less";
.components-moblie-header {
    display: none;
    margin-bottom: 0.6rem;
    background-color: transparent;
    border-bottom: 2px solid @borderColor;
    position: relative;
    .components-moblie-header-card {
        text-align: center;
        height: 128px;
        border-bottom: 1px solid @borderColor;
        line-height: 128px;
        background-color: #fff;
        img {
            height: 80px;
            width: 80px;
            vertical-align: middle;
            border-radius: 50%;
            transition: all 0.5s;
            border: 1px solid @borderColor;
        }
        img:hover {
            box-shadow: 0 0 10px #bbbbbb;
        }
    }
}