@import "~@/styles/vars.less";
.messageBoard {
    .boardContent{
        margin-top: 1rem;
    }
    .editor {
        margin-top: 1rem;
        .w-e-toolbar {
            background-color: #ffffff  !important;
        }
        .button{
            margin-top: .5rem;
            text-align: right;
        }
    }
}