#myDetail {
  box-sizing: border-box;
  padding:.1rem .2rem;
  .title {
    text-align: center;
    font-size: 30px;
  }
  .content {
    margin-top: 1rem;
    font-size: 16px;
    padding: 0;
    color: #000;
  }
  .tags {
    margin-top: 1rem;
    text-align: right;
  }
  .comment {
    margin-top: 1rem;
    .button {
      margin-top: 0.2rem;
      text-align: right;
    }
  }
  .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}
