.myCard {
    padding: 0;
    margin-bottom: .2rem;
    .content {
        padding: 0 0 20px 0;
        color: #bbbbbb;
    }
    .cardFooter {
        .tags {
            line-height: 30px;
        }
    }
}