.page-article-card {
    padding: 0;
    margin-bottom: 0.2rem;
    .ant-card-body {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .page-article-card-content {
        padding: 0;
        color: #aaaaaa;
    }
    .page-article-card-footer {
        .page-article-card-footer-tags {
            line-height: 24px;
        }
    }
}